@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #51bbc9;
    font-size: 1.5rem;
    font-family: "Permanent Marker";
    padding: 10px 100px 10px 10px;
}

h1 {
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: 4px;
    color: #fff;
    z-index: -1;
}

button {
    background: #8cd4de;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}